.dynamic-battery {
    /* Battery style properties
     * All properties below are meant to be
     * overridden for specific icon themes
     */

    /*
     * All values are in pixels assuming the icon is 16px
     * in width and height and are scaled automatically
     * Axes: left to right, bottom to top
     * In most cases it's only necessary to specify
     * top and bottom ends of vertical icons, or
     * only left and right for horizontal ones
     */
    -dynamic-battery-top: 16px;
    -dynamic-battery-bottom: 0px;
    -dynamic-battery-left: 0px;
    -dynamic-battery-right: 16px;

    /*
     * Battery direction
     * Values: "top-to-bottom", "bottom-to-top", "left-to-right", "right-to-left"
     */
    -dynamic-battery-direction: "top-to-bottom";

    /*
     * Icon names
     * bg is for static part, fg is for dynamic,
     * which gets overlaid on top of bg
     * states: normal, charging, caution, caution-charging
     * Coloring is done via symbolic icon classes and
     * it's possible to override it by normal means
     */
    -dynamic-battery-bg-normal: "bg-symbolic";
    -dynamic-battery-fg-normal: "fg-symbolic";
    -dynamic-battery-bg-charging: "bg-charging-symbolic";
    -dynamic-battery-fg-charging: "fg-charging-symbolic";
    -dynamic-battery-bg-low: "bg-symbolic";
    -dynamic-battery-fg-low: "fg-symbolic";
    -dynamic-battery-bg-low-charging: "bg-charging-symbolic";
    -dynamic-battery-fg-low-charging: "fg-charging-symbolic";
    -dynamic-battery-bg-caution: "bg-caution-symbolic";
    -dynamic-battery-fg-caution: "fg-caution-symbolic";
    -dynamic-battery-bg-caution-charging: "bg-charging-symbolic";
    -dynamic-battery-fg-caution-charging: "fg-caution-charging-symbolic";

    /* Also allow to override non-dynamic icons */
    -dynamic-battery-icon-empty: "empty-symbolic";
    -dynamic-battery-icon-empty-charging: "empty-charging-symbolic";
    -dynamic-battery-icon-full-charged: "full-charged-symbolic";
    -dynamic-battery-icon-missing: "missing-symbolic";

    /* Whether to draw bg behind fg */
    -dynamic-battery-draw-bg-behind-fg: "false";
}

.dynamic-battery.adwaita {
    -dynamic-battery-top: 11px;
    -dynamic-battery-bottom: 3px;

    -dynamic-battery-direction: "top-to-bottom";

    -dynamic-battery-icon-empty: "bg-symbolic";
    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";

    -dynamic-battery-draw-bg-behind-fg: "true";
}

.dynamic-battery.adwaita2 {
    -dynamic-battery-top: 16px;
    -dynamic-battery-bottom: 0px;

    -dynamic-battery-direction: "top-to-bottom";

    -dynamic-battery-icon-empty: "bg-symbolic";
    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";

    -dynamic-battery-draw-bg-behind-fg: "true";
}

.dynamic-battery.arc {
    -dynamic-battery-top: 15px;
    -dynamic-battery-bottom: 1px;

    -dynamic-battery-direction: "top-to-bottom";

    -dynamic-battery-icon-empty: "fg-caution-symbolic";
    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";
    -dynamic-battery-icon-full-charged: "fg-charging-symbolic";
}

.dynamic-battery.elementary {
    -dynamic-battery-left: 2px;
    -dynamic-battery-right: 12px;

    -dynamic-battery-direction: "right-to-left";

    -dynamic-battery-bg-caution: "bg-symbolic";
    -dynamic-battery-fg-caution-charging: "fg-charging-symbolic";

    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";

    -dynamic-battery-draw-bg-behind-fg: "true";
}

.dynamic-battery.faba {
    -dynamic-battery-top: 15px;
    -dynamic-battery-bottom: 1px;

    -dynamic-battery-fg-caution-charging: "fg-charging-symbolic";

    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";
    -dynamic-battery-icon-full-charged: "fg-symbolic";
}

.dynamic-battery.faba-mono {
    -dynamic-battery-top: 11px;
    -dynamic-battery-bottom: 3px;

    -dynamic-battery-fg-caution-charging: "fg-charging-symbolic";

    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";

    -dynamic-battery-draw-bg-behind-fg: "true";
}

.dynamic-battery.faenza {
    -dynamic-battery-top: 12px;
    -dynamic-battery-bottom: 2px;

    -dynamic-battery-direction: "top-to-bottom";

    -dynamic-battery-bg-caution: "bg-symbolic";

    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";

    -dynamic-battery-draw-bg-behind-fg: "true";
}

.dynamic-battery.numix {
    -dynamic-battery-top: 16px;
    -dynamic-battery-bottom: 0px;

    -dynamic-battery-direction: "top-to-bottom";

    -dynamic-battery-bg-caution: "bg-symbolic";
}

.dynamic-battery.papirus {
    -dynamic-battery-top: 15px;
    -dynamic-battery-bottom: 1px;

    -dynamic-battery-direction: "top-to-bottom";

    -dynamic-battery-fg-caution-charging: "fg-charging-symbolic";

    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";
    -dynamic-battery-icon-full-charged: "fg-charging-symbolic";
}

.dynamic-battery.suru {
    -dynamic-battery-top: 13px;
    -dynamic-battery-bottom: 3px;

    -dynamic-battery-bg-caution: "bg-symbolic";

    -dynamic-battery-fg-caution-charging: "fg-charging-symbolic";
    -dynamic-battery-fg-low: "fg-low-symbolic";

    -dynamic-battery-icon-empty-charging: "bg-charging-symbolic";

    -dynamic-battery-draw-bg-behind-fg: "true";
}
